h3 {
    color: rgb(126, 2, 197);
}

.zoektermtabel {
    height: 500px;
    overflow: auto;
    box-shadow: none;
}

mat-cell, .mat-cell {
    padding: 12px 16px 12px 0;
}

.zoektermmenu {
    width: 100%;
    margin-left: 30px;

    button {
        margin-top: 10px;
        background-color: rgb(126, 2, 197);
        color: #FFFFFF;
        min-width: 150px;
    }

    #annuleer {
        margin-left: 10px;
    }
}

.inputdiv {
    width: 100%;
}

input {
    width: 97%;
    border: 1px solid rgb(126, 2, 197);
    color: rgb(126, 2, 197);
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
}

input::placeholder {
    color: rgba(126, 2, 197, $alpha: 0.7);
}

input:focus {
    outline: none;
}
