<div class="space">
    <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="left" fxLayoutGap="20px" fxLayoutGap.xs="5px">

        <div class="item item-1" fxFlex="100%">
            
            <nav mat-tab-nav-bar>
                <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.link" routerLinkActive
                    #rla="routerLinkActive" [active]="rla.isActive">
                    {{link.label}}
                </a>
            </nav>

            <router-outlet></router-outlet>
        </div>
    </div>
</div>