<div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="left" fxLayoutGap="20px" fxLayoutGap.xs="5px">
    <div class="item item-1" fxFlex="60%">
        <h3>Gebruikers</h3>

        <div class="gebruikertabel mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">

                <ng-container matColumnDef="naam">
                    <th mat-header-cell *matHeaderCellDef> Naam </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.voornaam}} {{element.tussenvoegsel}} {{element.achternaam}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="username">
                    <th mat-header-cell *matHeaderCellDef> Gebruikersnaam </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.gebruikersnaam}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef> Emailadres </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.emailadres}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="rol">
                    <th mat-header-cell *matHeaderCellDef> Rol </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.rol}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="bewerk">
                    <th mat-header-cell *matHeaderCellDef> Bewerk </th>
                    <td class="align-center" mat-cell *matCellDef="let element">
                        <button class="button-color" id="wijzig{{element.id}}" (click)="laadWijzigmenu(element.id);"
                            title="Gebruiker wijzigen" mat-icon-button>
                            <mat-icon>create</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <ng-container matColumnDef="verwijder">
                    <th mat-header-cell *matHeaderCellDef> Verwijder </th>
                    <td class="align-center" mat-cell *matCellDef="let element">
                        <button class="button-color" id="verwijder{{element.id}}" (click)="openDialog(element);"
                            title="Gebruiker verwijderen" mat-icon-button>
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr class="tableheader" mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>

    <div class="item item-2 gebruikermenu" fxFlex="40%">
        <ng-container *ngIf="!wijzigen">
            <h3>Nieuwe gebruiker aanmaken</h3>

            <div class="inputdiv">
                <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="left" fxLayoutGap="20px"
                    fxLayoutGap.xs="5px">
                    <!-- Invoer voornaam -->
                    <div class="item item-1" fxFlex="60%">
                        <input id="voornaam" placeholder="Voornaam" [(ngModel)]="gebruiker.voornaam" required>
                    </div>
                    <!-- Invoer tussenvoegsel -->
                    <div class="item item-2" fxFlex="34.5%">
                        <input id="tussenvoegsel" placeholder="Tussenvoegsel" [(ngModel)]="gebruiker.tussenvoegsel">
                    </div>
                </div>
            </div>

            <div class="inputdiv">
                <input id="achternaam" placeholder="Achternaam" [(ngModel)]="gebruiker.achternaam" required>
            </div>

            <div class="inputdiv">
                <input id="email" placeholder="Emailadres" [(ngModel)]="gebruiker.emailadres" type="email" required>
            </div>

            <div class="inputdiv">
                <mat-form-field>
                    <mat-label>Rol</mat-label>
                    <mat-select id="rol" [(ngModel)]="gebruiker.rol">
                        <mat-option *ngFor="let rol of rollen" [value]="rol.value">
                            {{rol.naam}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div>
                <button mat-button id="opslaan" (click)="gebruikerOpslaan(gebruiker);">Opslaan</button>
            </div>
        </ng-container>

        <ng-container *ngIf="wijzigen">
            <h3>Gebruiker wijzigen</h3>

            <div class="inputdiv">
                <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="left" fxLayoutGap="20px"
                    fxLayoutGap.xs="5px">
                    <!-- Invoer voornaam -->
                    <div class="item item-1" fxFlex="60%">
                        <input id="wijzigvoornaam" placeholder="Voornaam" [(ngModel)]="gebruiker.voornaam" required>
                    </div>
                    <!-- Invoer tussenvoegsel -->
                    <div class="item item-2" fxFlex="34.5%">
                        <input id="wijzigtussenvoegsel" placeholder="Tussenvoegsel"
                            [(ngModel)]="gebruiker.tussenvoegsel">
                    </div>
                </div>
            </div>

            <div class="inputdiv">
                <input id="wijzigachternaam" placeholder="Achternaam" [(ngModel)]="gebruiker.achternaam" required>
            </div>

            <div class="inputdiv">
                <input id="wijzigemail" placeholder="Emailadres" [(ngModel)]="gebruiker.emailadres" type="email"
                    required>
            </div>

            <div class="inputdiv">
                <mat-form-field>
                    <mat-label>Rol</mat-label>
                    <mat-select id="wijzigrol" [(ngModel)]="gebruiker.rol">
                        <mat-option *ngFor="let rol of rollen" [value]="rol.value">
                            {{rol.naam}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="buttons">
                <button mat-button id="wijzig" (click)="gebruikerWijzigen(gebruiker);">Wijzigen</button>
                <button mat-button id="annuleer" (click)="annuleerWijziging();">Annuleren</button>
            </div>
        </ng-container>
    </div>
</div>