<mat-toolbar>

    <span><mat-icon>language</mat-icon> Accountmanager Applicatie</span>

    <!-- Span om de rest van de navbar op te vullen -->
    <span class="filler"></span>

    <!-- Knoppen op de navbar -->
    <span class="link"><button class="button" (click)="naarHome();" mat-button>Home</button></span>
    <span class="link"><button class="button" (click)="navigeerNaar('profiel');" mat-button>Profiel</button></span>
    <span class="link"><button class="button" (click)="logout()" mat-button>Uitloggen</button></span>
</mat-toolbar>